*.las filter=lfs diff=lfs merge=lfs -text
*.laz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
LASFile_ filter=lfs diff=lfs merge=lfs -text
LASFile_1.laz filter=lfs diff=lfs merge=lfs -text
LASFile_2.laz filter=lfs diff=lfs merge=lfs -text
LASFile_3.laz filter=lfs diff=lfs merge=lfs -text
LASFile_4.laz filter=lfs diff=lfs merge=lfs -text
N1440375.laz filter=lfs diff=lfs merge=lfs -text
N1445380.laz filter=lfs diff=lfs merge=lfs -text
LDR030828_213450_0.laz filter=lfs diff=lfs merge=lfs -text
Mount[[:space:]]St[[:space:]]Helens[[:space:]]Oct[[:space:]]4[[:space:]]2004.laz filter=lfs diff=lfs merge=lfs -text
LDR030828_213023_0.laz filter=lfs diff=lfs merge=lfs -text
LDR030828_211804_0.laz filter=lfs diff=lfs merge=lfs -text
LDR030828_212242_0.laz filter=lfs diff=lfs merge=lfs -text
Serpent[[:space:]]Mound[[:space:]]Model[[:space:]]LAS[[:space:]]Data.laz filter=lfs diff=lfs merge=lfs -text
N1440380.laz filter=lfs diff=lfs merge=lfs -text
N1445375.laz filter=lfs diff=lfs merge=lfs -text
LDR030828_214222_0.laz filter=lfs diff=lfs merge=lfs -text
Lincoln.laz filter=lfs diff=lfs merge=lfs -text
Mount[[:space:]]St[[:space:]]Helens[[:space:]]Nov[[:space:]]20[[:space:]]2004.laz filter=lfs diff=lfs merge=lfs -text
MtStHelens.laz filter=lfs diff=lfs merge=lfs -text
LDR030828_212622_0.laz filter=lfs diff=lfs merge=lfs -text
LDR030828_213842_0.laz filter=lfs diff=lfs merge=lfs -text
radiohead/radiohead_data1.laz filter=lfs diff=lfs merge=lfs -text
radiohead/radiohead_data2.laz filter=lfs diff=lfs merge=lfs -text
